* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

div .container {
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-around;
    background-image: url(images/dots.png);
    background-size: cover;
}

.header {
    background-color: rgba(127, 172, 206, 0.4);
    display: flex;
}

.logo img {
    width: 300px;
    padding-top: 40px;
    padding-left: 20px;
}

.menu {
    margin-left: 220px;
}

div .menu ul li {
    display: inline-block;
    padding: 40px 10px;
}

div .menu ul {
    list-style-type: none;
}

div .menu a {
    color: #2D3E8C;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.about {
    width: 950px;
    margin: 0 auto;
    display: flex;
    height: 420px;
    margin-top: 105px;
}

h1 {
    font-family: 'Montserrat', sans-serif;;
    font-size: 60px;
    font-weight: 700;
    color: #2D3E8C;
    width: 360px;
    padding-top: 34px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #2D3E8C;
    width: 400px;
    padding-top: 15px;
}

.about img {
    width: 690px;
    margin: -135px -90px;
    filter: drop-shadow(15px 0px 3px #333c89);
}

.block {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    height: 460px;
    background-image: url(images/frame.png);
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
}

#cards {
    width: 50%;
    margin-left: 30px;
    margin-top: 50px;
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button1 {
    width: 260px;
    height: 80px;
    background-color: #fff;
    border: 7px solid #333c89;
    border-radius: 56px;
    padding-top: 15px;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #333c89;
    box-shadow: 10px 10px 0px #333c89;
}

.button1:hover {
    background-color: #333c89;
    color: #fff;
    border: 7px solid #fff;
    width: 270px;
    height: 90px;
    font-size: 35px;
    padding-left: 20px;
    box-shadow: 15px 15px 0px #333c89;
    transition: 0.7s;
}

.button1:active {
    background-color: #333c89;
    box-shadow: 5px 5px 0px #333c89;
    transform: translateY(4px);
}

.button1-margin {
    margin-left: 70px;
    padding-left: 35px;
}

.block img {
    width: 350px;
    transform: rotate(345deg);
    box-shadow: 20px 20px 0px #333c89;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#contributions {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid #7EACCE;
    background-image: url(images/back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 33px;
}

.button2 {
    width: 260px;
    height: 80px;
    background-color: #7EACCE;
    border: 7px solid #333c89;
    border-radius: 56px;
    padding-top: 15px;
    padding-left: 45px;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 10px 10px 0px #333c89;
}

.button2:hover{
    background-color: #333c89;
    border: 7px solid #7EACCE;
    width: 270px;
    height: 90px;
    font-size: 35px;
    padding-left: 40px;
    box-shadow: 15px 15px 0px #333c89;
    transition: 0.7s;
}

.button2:active {
    background-color: #333c89;
    box-shadow: 5px 5px 0px #333c89;
    transform: translateY(4px);
}

.vklad {
    margin-top: 50px;
}

.block3 {
    margin-top: 200px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    height: 460px;
    background-image: url(images/frame1.png);
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.block3 img {
    width: 400px;
}

.credit {
    padding-top: 50px;
    padding-left: 30px;
    width: 50%;
}

#credits {
    width: 400px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#shares {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    border: 10px solid #333c89;
    background-image: url(images/dots3.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 33px;
}

.button3 {
    width: 260px;
    height: 80px;
    background-color: #F8D5DF;
    border: 7px solid #333c89;
    border-radius: 56px;
    padding-top: 15px;
    padding-left: 55px;
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #333c89;
    box-shadow: 10px 10px 0px #333c89;
}

.button3:hover{
    background-color: #333c89;
    border: 7px solid #F8D5DF;
    color: #F8D5DF;
    width: 270px;
    height: 90px;
    font-size: 35px;
    padding-left: 50px;
    box-shadow: 15px 15px 0px #333c89;
    transition: 0.5s;

}

.button3:active {
    background-color: #333c89;
    box-shadow: 5px 5px 0px #333c89;
    transform: translateY(4px);
}

.akcii {
    padding-top: 30px;
}

#footer {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
    justify-content:space-between;
}

.podval img {
    width: 250px;
    padding-top: 25px;
}

#phone{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

#phone1{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 1px;
}

.back-up {
    position: fixed;
    right: 350px;
    bottom:0;
    display: flex;
}

.back_up::before {
    content:"";
}

.back-up img {
    width: 70px;
}









